* {
  box-sizing: border-box;
}

.minimalistFinancialD {
  display: flex;
  align-items: center;
  width: 393px;
  height: 2087px;

  .dailyFlow19 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-right: -1px;
    background: #f5f5f5;
    padding-top: 16px;
    padding-bottom: 80px;

    .text2 {
      line-height: 16px;
      letter-spacing: 0;
      color: #6a7282;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .container7 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 16px;
      margin-left: 16px;
      border-radius: 24px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      background: #ffffff;
      padding: 24px 24px 0px;
      height: 168px;
      row-gap: 24px;

      .container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;

        .text {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-right: 1px;
          padding-bottom: 1px;
          height: 32px;

          .a {
            line-height: 32px;
            letter-spacing: 0.07px;
            color: #0a0a0a;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }

        .text3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-top: 1px;
          width: 64px;
          height: 16px;
        }
      }

      .container6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;

        .paragraph {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          padding: 1px 26px 0px;
          height: 16px;
        }

        .container2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-right: 8px;
          padding-left: 8px;
          row-gap: 4px;

          .paragraph2 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            padding: 0px 4px 1px;
            height: 24px;

            .a416550 {
              margin: -1px 0px 0px;
              width: 79px;
              text-align: center;
              line-height: 24px;
              letter-spacing: -0.31px;
              color: #ffb800;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
            }
          }
        }

        .container3 {
          background: #d1d5dc;
          width: 2px;
          height: 64px;
        }

        .container4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 1px;
          padding-right: 8px;
          padding-left: 8px;
          row-gap: 4px;

          .paragraph3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            padding-right: 2px;
            padding-left: 3px;
            height: 28px;

            .a108450 {
              width: 82px;
              text-align: center;
              line-height: 29px;
              letter-spacing: -0.45px;
              color: #ff3b30;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 19px;
            }
          }
        }

        .container5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 1px;
          padding-right: 8px;
          padding-left: 8px;
          row-gap: 4px;

          .paragraph4 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            padding-right: 1px;
            padding-left: 2px;
            height: 28px;

            .a525000 {
              width: 84px;
              text-align: center;
              line-height: 29px;
              letter-spacing: -0.45px;
              color: #34c759;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 19px;
            }
          }
        }
      }
    }

    .container58 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 16px;
      padding: 0px 16px 16px;

      .heading2 {
        display: flex;
        align-items: center;
        column-gap: 8px;
        width: 361px;

        .text5 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-bottom: 1px;
          width: 48px;
          height: 32px;

          .text4 {
            line-height: 32px;
            letter-spacing: 0.07px;
            color: #101828;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }

        .text7 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-top: 1px;
          padding-right: 1px;
          height: 28px;

          .text6 {
            line-height: 28px;
            letter-spacing: -0.44px;
            color: #6a7282;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }
        }

        .icon {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }
      }

      .container57 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 16px;

        .text11 {
          line-height: 16px;
          letter-spacing: 0;
          color: #6a7282;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-style: italic;
        }

        .icon2 {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          overflow: hidden;
        }

        .a1830 {
          margin: -2px 0px 0px;
          line-height: 16px;
          letter-spacing: 0;
          color: #6a7282;
          font-family: Arimo, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .text9 {
          margin: -1px 0px 0px;
          line-height: 24px;
          letter-spacing: -0.31px;
          color: #101828;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .a4550 {
          width: 78px;
          line-height: 28px;
          letter-spacing: -0.45px;
          color: #ff3b30;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .a2 {
          flex-shrink: 0;
          line-height: 36px;
          letter-spacing: 0.4px;
          color: #0a0a0a;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
        }

        .paragraph14 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-bottom: 1px;
          width: 74px;

          .a1500 {
            width: 75px;
            line-height: 28px;
            letter-spacing: -0.45px;
            color: #ff3b30;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }

        .text15 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          border-radius: 22061900px;
          background: #ff3b3026;
          padding: 10px 13px 0px;
          width: 56px;
          height: 56px;
        }

        .text13 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          border-radius: 22061900px;
          background: #34c75926;
          padding: 10px 13px 0px;
          width: 56px;
          height: 56px;
        }

        .paragraph8 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-bottom: 1px;
          width: 77px;
        }

        .text8 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          border-radius: 22061900px;
          background: #ff3b3026;
          padding: 10px 13px;
          width: 56px;
        }

        .paragraph7 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          padding-bottom: 1px;
          width: 78px;
        }

        .paragraph6 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 180px;
          padding-bottom: 1px;
          height: 24px;
        }

        .paragraph5 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 181px;
          padding-bottom: 2px;
          height: 16px;
        }

        .container8 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 2px;
        }

        .container11 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 6px;

          .text12 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding-top: 1px;
            height: 16px;
          }
        }

        .container10 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 6px;

          .text10 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding-top: 1px;
            height: 16px;
          }
        }

        .container25 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          height: 42px;

          .container24 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 2px;

            .paragraph15 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              padding-right: 172px;
              padding-bottom: 2px;
              height: 16px;
            }

            .paragraph16 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              padding-right: 171px;
              padding-bottom: 1px;
              height: 24px;
            }
          }

          .paragraph17 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding-bottom: 1px;
            width: 86px;

            .a15000 {
              width: 86px;
              line-height: 28px;
              letter-spacing: -0.45px;
              color: #ff3b30;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
          }
        }

        .container12 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 4px;
        }

        .container9 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          height: 42px;
        }

        .dailyFlow9 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 8px;

          .container29 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            height: 42px;

            .paragraph19 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              padding-bottom: 1px;
              width: 77px;

              .a2500 {
                width: 77px;
                line-height: 28px;
                letter-spacing: -0.45px;
                color: #ff3b30;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }
          }
        }

        .dailyFlow {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 8px;
        }

        .container13 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          width: 361px;
        }

        .container15 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow2 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container14 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              padding-right: 1px;
              height: 42px;
            }
          }
        }

        .container16 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow3 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;
          }
        }

        .container20 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow4 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container18 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container17 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph9 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 154px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph10 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 153px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }

              .paragraph11 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-bottom: 1px;
                width: 105px;

                .a500000 {
                  width: 105px;
                  line-height: 28px;
                  letter-spacing: -0.45px;
                  color: #34c759;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }

            .container19 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 6px;

              .text14 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-top: 1px;
                width: 71px;
                height: 16px;
              }
            }
          }
        }

        .container23 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow5 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container22 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container21 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph12 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 184px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph13 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 183px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }
            }
          }
        }

        .container26 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 16px;
          min-width: 361px;

          .text16 {
            display: flex;
            align-items: flex-start;
            border-radius: 22061900px;
            background: #ff3b3026;
            padding: 10px 13px 0px;
            width: 56px;
            height: 56px;
          }

          .dailyFlow7 {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 8px;

            .dailyFlow6 {
              display: flex;
              position: absolute;
              top: 22px;
              left: 225px;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              border-radius: 22061900px;
              box-shadow: 0px 10px 15px -3px #0000001a,
                0px 4px 6px -4px #0000001a;
              background: #007aff;
              padding-right: 1px;
              width: 56px;
              height: 56px;

              .icon3 {
                flex-shrink: 0;
                width: 28px;
                height: 28px;
                overflow: hidden;
              }
            }
          }
        }

        .container28 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 16px;
          margin-top: 16px;

          .dailyFlow8 {
            flex-shrink: 0;
            border-radius: 22061900px;
            background: #ff3b3026;
            width: 56px;
            height: 56px;
          }

          .container27 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            justify-content: space-between;
            width: 289px;
            min-width: 289px;
            height: 66px;

            .paragraph18 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              padding-right: 184px;
              padding-bottom: 28px;
              height: 42px;
            }
          }
        }

        .container30 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;
        }

        .container31 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;
        }

        .container34 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow10 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container33 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container32 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph20 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 164px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }
            }
          }
        }

        .container37 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow11 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container36 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container35 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph21 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 166px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph22 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 165px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }

              .paragraph23 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-bottom: 1px;
                width: 92px;

                .a20000 {
                  width: 93px;
                  line-height: 28px;
                  letter-spacing: -0.45px;
                  color: #34c759;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .container40 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow12 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container39 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container38 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph24 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 182px;
                  padding-bottom: 2px;
                  height: 16px;
                }
              }
            }
          }
        }

        .container43 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow13 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container42 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              padding-right: 1px;
              height: 42px;

              .container41 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph25 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 169px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph26 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 168px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }

              .paragraph27 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-bottom: 1px;
                width: 89px;

                .a29900 {
                  width: 90px;
                  line-height: 28px;
                  letter-spacing: -0.45px;
                  color: #ff3b30;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .container46 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow14 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container45 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container44 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph28 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 192px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph29 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 191px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }

              .paragraph30 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-bottom: 1px;

                .a400 {
                  width: 66px;
                  line-height: 28px;
                  letter-spacing: -0.45px;
                  color: #ff3b30;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .container48 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow15 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container47 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;
            }
          }
        }

        .container49 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow16 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;
          }
        }

        .container52 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow17 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container51 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container50 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph31 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 180px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph32 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 179px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }
            }
          }
        }

        .container55 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;

          .dailyFlow18 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .container54 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              height: 42px;

              .container53 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 2px;

                .paragraph33 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 178px;
                  padding-bottom: 2px;
                  height: 16px;
                }

                .paragraph34 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  padding-right: 177px;
                  padding-bottom: 1px;
                  height: 24px;
                }
              }

              .paragraph35 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                padding-bottom: 1px;
                width: 81px;

                .a5000 {
                  width: 81px;
                  line-height: 28px;
                  letter-spacing: -0.45px;
                  color: #34c759;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .container56 {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
          margin-top: 16px;
          width: 361px;
        }
      }

      .app {
        display: flex;
        position: absolute;
        top: 584px;
        left: 0;
        align-items: flex-start;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: #000000;
        background: #ffffff;
        padding-right: 1px;
        width: 393px;
        height: 68px;

        .icon4 {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .button {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          padding-top: 12px;
          padding-bottom: 12px;
          row-gap: 4px;

          .text18 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 54px;
            margin-left: 54px;
            padding-top: 1px;
            height: 16px;

            .text17 {
              line-height: 16px;
              letter-spacing: 0;
              color: #007aff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .button2 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          padding-top: 12px;
          padding-bottom: 12px;
          row-gap: 4px;

          .text19 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            margin-right: 54px;
            margin-left: 54px;
            padding-top: 1px;
            height: 16px;
          }
        }
      }
    }
  }
}
